/* .hero {
  background-color: var(--background-hero);
  text-align: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__title {
  color: black;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
 */
